.received-data {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

table, td {
  font-size: 18px;
  border: 1px solid purple;
}

td.data {
  width: 50px;
  background-color: lightgrey;
}


svg.catwalk {
  height: 180px;
  width: 1080px;
  border: 3px solid lightcoral;
}

svg.clock {
  height: 600px;
  width: 600px;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
