<h1>Client</h1>

<div class="received-data">
<table>
  <tr>
    <th>DeviceMotionEvent</th>
  </tr>
  <tr>
    <td>X axis</td>
    <td class="data" id="x"></td>
  </tr>
  <tr>
    <td>Y axis</td>
    <td class="data" id="y"></td>
  </tr>
  <tr>
    <td>Z axis</td>
    <td class="data" id="z"></td>
  </tr>
</table>

<table>
  <tr>
    <th>DeviceOrientationEvent</th>
  </tr>
  <tr>
    <td>Motion around the Z axis (alpha) (0 to 360)</td>
    <td class="data" id="alpha"></td>
  </tr>
  <tr>
    <td>Motion around the X axis (beta) (-180 to 180)</td>
    <td class="data" id="beta"></td>
  </tr>
  <tr>
    <td>Motion around the Y axis (gamma) (-90 to 90)</td>
    <td class="data" id="gamma"></td>
  </tr>
</table>

<table>
  <tr>
    <th>DeviceLightEvent</th>
  </tr>
  <tr>
    <td>Ambient light in <em>lux</em></td>
    <td class="data" id="light"></td>
  </tr>
</table>

  <table>
    <tr>
      <th>DeviceProximityEvent</th>
    </tr>
    <tr>
      <td>Maximum sensing distance in <em>cm</em></td>
      <td class="data" id="prox_max"></td>
    </tr>
    <tr>
      <td>Minimum sensing distance in <em>cm</em></td>
      <td class="data" id="prox_min"></td>
    </tr>
    <tr>
      <td>Current proximity in <em>cm</em></td>
      <td class="data" id="prox"></td>
    </tr>
  </table>
</div>
<div #catwalk>
<svg id="svg" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <image y="40" id="cat" href="https://i.giphy.com/media/Z55zlzompYguc/giphy.webp" height="100" width="100"/>
</svg>
</div>

<div #container></div>
